@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
    font-family     : Roboto;
    color           : rgb(255, 255, 255);
    background-color: #1f1f1f;
}

/* -------------------- bat dau phan header --------------------*/


nav {
    display        : flex;
    justify-content: space-between;
    justify-items  : center;
}

.logo img {
    max-width: 220px;
    height   : auto;
}

#main-menu {
    display   : flex;
    list-style: none;
    margin    : 0;
    padding   : 0;
}

#main-menu li {
    position: relative;
}

#main-menu li a {
    color          : white;
    display        : block;
    padding        : 18px 20px;
    text-decoration: none;
}

#main-menu ul.sub-menu {
    position        : absolute;
    background-color: rgb(38, 34, 34);
    padding         : 5px 0;
    list-style      : none;
    width           : 130px;
    display         : none;
}

#main-menu li:hover ul.sub-menu {
    display: block;
}

#main-menu ul.sub-menu a {
    padding      : 8px 15px;
    border-bottom: 1px solid rgb(63, 63, 63);
}

#main-menu ul.sub-menu a:hover {
    background-color: rgb(63, 63, 63);
}

#main-menu ul.sub-menu li:last-child a {
    border: none;
}

/* -------------------- ket thuc phan header --------------------*/

/*-------------------- bat dau phan body --------------------*/
body {
    background-color   : #1f1f1f;
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : cover;
    max-width          : 1050px;
    margin             : 0 auto;
}


.image-container {
    position: relative;
}

.image-container img {
    display: block;
    width  : 100%;
    height : auto;
    opacity: 0.5;
}

.overlay-text {
    position        : absolute;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);
    background-color: transparent;
    color           : white;
    padding         : 20px;
    border-radius   : 5px;
    text-align      : center;
    z-index         : 1;
}

.overlay-text h1 {
    font-size       : 40px;
    margin-bottom   : 50px;
    background-color: transparent;
    white-space     : nowrap;
}

.overlay-text p {
    font-size       : 22px;
    margin-bottom   : 0;
    line-height     : 2;
    background-color: transparent;
}

.centered-content {
    text-align : center;
    padding-top: 50px;
}

.container1,
.container2,
.container3 {
    padding    : 30px;
    display    : flex;
    align-items: center;
}

.container1 img,
.container2 img,
.container3 img {
    width       : 300px;
    height      : auto;
    margin-right: 20px;
}

.container1 .content1,
.container2 .content2,
.container3 .content3 {
    flex       : 1;
    line-height: 1.5;
}

.container3 {
    padding-bottom: 150px;
}

.container2 img {
    margin-right: 0;
    margin-left : 20px;
}

#links {
    color          : rgb(234, 234, 51);
    text-decoration: none;
}

#links span {
    margin-left: 5px;
}

/*-------------------- ket thuc phan body --------------------*/


#links-footer {
    text-decoration: none;
    color          : beige;
}

#footer {
    padding-top: 100px;
    min-width  : 785px;
}

#footer-card {
    background-color: transparent;
    border          : none;
    color           : white;
}

#footer-col-1 {
    padding: 0 1rem;
}

#footer-col-2 {
    text-align: center;
    padding   : 0 4rem;
}

a {
    text-decoration: none;
    list-style     : none;
}

#footer-col-3 {
    padding: 0 1rem 0 4rem;
}

#social {
    text-decoration: none;
    color          : #fff;
}



#myBtn {
    display         : none;
    position        : fixed;
    bottom          : 20px;
    right           : 30px;
    z-index         : 99;
    font-size       : 18px;
    border          : none;
    outline         : none;
    background-color: #1f1f1f;
    color           : white;
    cursor          : pointer;
    padding         : 15px;
    border-radius   : 4px;
}

#myBtn:hover {
    background-color: #555;
}