@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: Roboto;
    color: white;

}

#header {
    position: relative;
    z-index: 9999;
  }
/* -------------------- bat dau phan header --------------------*/
.container {
    max-width: 960px;
    margin: 0 auto;

}

nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.logo img {
    max-width: 220px;
    height: auto;
}

#main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-menu li {
    position: relative;
}

#main-menu li a {
    color: white;
    display: block;
    padding: 18px 20px;
    text-decoration: none;
}

#main-menu ul.sub-menu {
    position: absolute;
    background-color: rgb(38, 34, 34);
    padding: 5px 0;
    list-style: none;
    width: 130px;
    display: none;
}

#main-menu li:hover ul.sub-menu {
    display: block;
}

#main-menu ul.sub-menu a {
    padding: 8px 15px;
    border-bottom: 1px solid rgb(63, 63, 63);
}

#main-menu ul.sub-menu a:hover {
    background-color: rgb(63, 63, 63);
}

#main-menu ul.sub-menu li:last-child a {
    border: none;
}

/* -------------------- ket thuc phan header --------------------*/

body {
    background-color: #1f1f1f;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1050px;
    margin: 0 auto;
}

.image-container .image-text h1 {
    font-size: 70px;
    /* Đặt kích thước chữ cho tiêu đề h1 */
}

.text-with-image {
    margin-top: 60px;
    position: relative;
    text-align: center;
}

.image-text {
    background: url('../images/img-fact-and-methods/R.jpg') no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
}

.image-container {
    position: relative;
    display: flex;
    /* Sử dụng flexbox để căn giữa */
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    border-radius: 100px;
    /* Độ cong của góc hình chữ nhật */
    overflow: hidden;
    /* Loại bỏ các phần của hình ảnh vượt ra ngoài phần bo tròn */
    width: 1000px;
    /* Chiều rộng mong muốn của khung hình chữ nhật */
    height: 380px;
    /* Chiều cao mong muốn của khung hình chữ nhật */
}


.image-text1 {
    position: absolute;
    color: white;
    font-size: 28px;
    text-align: center;
    padding: 5px;
}

.mota1 {
    text-align: left;
    font-size: 21px;
}

.image-container img {
    display: block;
    width: 100%;
    /* Đảm bảo hình ảnh lấp đầy khung hình chữ nhật */
    height: auto;
    opacity: 0.5;
}



.image-container .image-text p {
    font-size: 2 0px;
    /* Đặt kích thước chữ cho đoạn văn */
}



.image-text2 {
    position: absolute;
    color: white;
    font-size: 27px;

    text-align: center;
    padding: 5px;
}

.image-container2 {
    position: relative;
    display: flex;
    /* Sử dụng flexbox để căn giữa */
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    border-radius: 100px;
    /* Độ cong của góc hình chữ nhật */
    overflow: hidden;
    /* Loại bỏ các phần của hình ảnh vượt ra ngoài phần bo tròn */
    width: 1000px;
    /* Chiều rộng mong muốn của khung hình chữ nhật */
    height: 430px;
    /* Chiều cao mong muốn của khung hình chữ nhật */
}

.image-container2 img {
    opacity: 0.5;
}

.mota2 {
    text-align: left;
    font-size: 21px;
}


.image-container3 {
    position: relative;
    display: flex;
    /* Sử dụng flexbox để căn giữa */
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    border-radius: 70px;
    /* Độ cong của góc hình chữ nhật */
    overflow: hidden;
    /* Loại bỏ các phần của hình ảnh vượt ra ngoài phần bo tròn */
    width: 1000px;
    /* Chiều rộng mong muốn của khung hình chữ nhật */
    height: 210px;
    /* Chiều cao mong muốn của khung hình chữ nhật */

}

.image-container3 img{
    opacity: 0.5;
}

.image-text3 {
    position: absolute;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 5px;
}

/*-------------------- ket thuc phan body --------------------*/

#links-footer {
    text-decoration: none;
    color: beige;
  }

  #footer {
    padding-top: 100px;
    min-width: 785px;
  }

  #footer-card {
    background-color: transparent;
    border: none;
    color: white;
  }

  #footer-col-1 {
    padding: 0 1rem;
  }

  #footer-col-2 {
    text-align: center;
    padding: 0 4rem;
  }

  a {
    text-decoration: none;
    list-style: none;
  }

  #footer-col-3 {
    padding: 0 1rem 0 4rem;
  }

  #social {
    text-decoration: none;
    color: #fff;
  }




  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #1f1f1f;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }