body {
    background: #1f1f1f;
  }

  [class*="col"] {
    padding: 1rem;
    border: 2px;
    color: #fff;
  }

  /* ------------------ Hieu CSS cho header ------------------- */

  /* nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
  }

  .logo img {
    max-width: 200px;
    height: auto;
  }

  #main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #main-menu li {
    position: relative;
    font-size: large;
  }

  #main-menu li a {
    color: #3d2719 ;
    display: block;
    padding: 18px 20px;
    text-decoration: none;
    font-weight: bold;
  }

  #main-menu ul.sub-menu {
    position: absolute;
    background-color: transparent;
    padding: 5px 0;
    list-style: none;
    width: 130px;
    display: none;
  }

  #main-menu li:hover ul.sub-menu {
    display: block;
  }

  #main-menu ul.sub-menu a {
    padding: 8px 15px;
    border-bottom: 1px solid rgb(63, 63, 63);
  }

  #main-menu ul.sub-menu a:hover {
    background-color: rgb(63, 63, 63);
  }

  #main-menu ul.sub-menu li:last-child a {
    border: none;
  } */

  /* ------------ Tung CSS cho ID Header -------------- */

  ul#menu {
    text-align: center;
    margin: 8px 0px 8px;
  }

  ul#menu li {
    display: inline;
    padding: 15px;
    max-width: 50px;
  }

  ul#menu li a {
    text-decoration: none;
    color: #fff;
    font-size: large;
  }

  .logo img {
    max-width: 150px;
    height: auto;
  }

  #header {
    height: 10px;
  }

  .big-banner {
    background-image: url(../images/index/window.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #navbar {
    background-color: #1f1f1f;
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }

  #intro {
    background-color: transparent;
    border: none;
  }

  .centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centered-card-body {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #card-title {
    font-family: 'Chronicle Display', sans-serif;
  }

  #card-text {
    font-family: 'Gilroy-Bold', sans-serif;
  }

  #text-1 {
    background-color: transparent;
    border: none;
  }

  p.card-text {
    font-size: 14px;
  }

  #image-in-content {
    max-height: 640px;
    width: 420px;
  }

  #yellow-text {
    color: #FBD784;
    padding-bottom: 13px;
  }

  #links {
    text-decoration: none;
    color: #FBD784;
  }

  #links-footer {
    text-decoration: none;
    color: beige;
  }

  #footer {
    padding-top: 100px;
  }

  #footer-card {
    background-color: transparent;
    border: none;
    color: white;
  }

  #footer-col-1 {
    padding: 0 1rem;
  }

  #footer-col-2 {
    text-align: center;
    padding: 0 1rem;
  }

  #footer-col-3 {
    padding: 0 1rem;
  }

  #social {
    text-decoration: none;
    color: #fff;
  }