body {
    background: #1f1f1f;
  }

  [class*="col"] {
    padding: 1rem;
    border: 2px;
    color: #fff;
  }

  ul#menu {
    text-align: center;
    margin: 8px 0px 8px;
  }

  ul#menu li {
    display: inline;
    padding: 15px;
    max-width: 50px;
  }

  ul#menu li a {
    text-decoration: none;
    color: #fff;
    font-size: large;
  }

  ul#dropdown-menu {
    background-color: #1f1f1f;
  }

  ul#dropdown-menu li {
    display: block;
  }

  ul#dropdown-menu li a {
    text-decoration: none;
    color: #fff;
    font-size: medium;
  }

  .logo img {
    max-width: 150px;
    height: auto;
  }

  #header {
    height: 10px;
  }

  .big-banner {
    background-image: url(../images/index/window.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #navbar {
    background-color: #1f1f1f;
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }

  #intro {
    background-color: transparent;
    border: none;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centered-card-body {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #card-title {
    font-family: 'Chronicle Display', sans-serif;
  }

  #card-text {
    font-family: 'Gilroy-Bold', sans-serif;
  }

  #text-1 {
    background-color: transparent;
    border: none;
  }

  p.card-text {
    font-size: 14px;
  }

  #image-in-content {
    max-height: 640px;
    width: 420px;
  }

  #yellow-text {
    color: #FBD784;
    padding-bottom: 13px;
  }

  #links {
    text-decoration: none;
    color: #FBD784;
  }

  #links-footer {
    text-decoration: none;
    color: beige;
  }

  #footer {
    padding-top: 100px;
  }

  #footer-card {
    background-color: transparent;
    border: none;
    color: white;
  }

  #footer-col-1 {
    padding: 0 1rem;
  }

  #footer-col-2 {
    text-align: center;
    padding: 0 4rem;
  }

  a {
    text-decoration: none;
    list-style: none;
  }

  #footer-col-3 {
    padding: 0 1rem 0 4rem;
  }

  #social {
    text-decoration: none;
    color: #fff;
  }