/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
} */

nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    font-weight: bold;
    clear: both;
    background-color: #1d2a3e;
}

.logo img {
    max-width: 150px;
    height: auto;
    padding: 8px 0px;
}

.about-us {
    text-decoration: none;
    color: #FBD784;
}

#main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-menu li {
    position: relative;
}

#main-menu li a {
    color: white;
    display: block;
    padding: 18px 20px;
    text-decoration: none;
    
}

#main-menu ul.sub-menu {
    position: absolute;
    background-color: #1d2a3e;
    padding: 5px 0;
    list-style: none;
    width: 130px;
    display: none;
    z-index: 99;
}

#main-menu li:hover ul.sub-menu {
    display: block;
}

#main-menu ul.sub-menu a {
    padding: 8px 15px;
    border-bottom: 1px solid 1d2a3e;
}

#main-menu ul.sub-menu a:hover {
    background-color: rgb(80, 94, 118);
}

#main-menu ul.sub-menu li:last-child a {
    border: none;
}

#links-footer {
    text-decoration: none;
    color: beige;
}

#footer {
    min-width: 785px;
}

#footer-card {
    background-color: #041228;
    border: none;
    color: white;
    margin-top: 30px;
}

#footer-col-1 {
    padding: 0 2rem;
    text-align: left;
}

#footer-col-2 {
    text-align: center;
    padding: 0 4rem;
}

a {
    text-decoration: none;
    list-style: none;
}

#footer-col-3 {
    padding: 0 1rem 0 4rem;
}

#social {
    text-decoration: none;
    color: #fff;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #1f1f1f;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    position: fixed;

}

#myBtn:hover {
    background-color: #555;
}

#footer{
background-color: #041228;

}

body {
    background: #f1f1f1 !important;
}

body .container {
    max-width: 1100px;
    padding-bottom: 100px;
}

.container .card-title{
    text-align: center;
}

#filterable-cards .card:hover {
    border: 1px solid rgb(58, 97, 131);
}

#filter-buttons button {
    border-radius: 3px;
    background: #fff;
    border-color: transparent;
}

#filter-buttons button:hover {
    background: #ccdff5;
}

#filter-buttons button.active {
    color: #fff;
    background: #51718e;
}

#filterable-cards .card {
    width: 15rem;
    border: 2px solid transparent;
    overflow: hidden;
}

#filterable-cards .card.hide {
    display: none;
}

.container .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f7fb;
}

.card-body h6{
    margin-top: 7%;}

img{
    width: 100% ;
    height: 190px;
}

img:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.07);
    transition: transform .2s;

}

@media (max-width: 600px) {
    #filterable-cards {
        justify-content: center;
    }

    #filterable-cards .card {
        width: calc(100% / 2 - 10px);
    }

    img{
        width: 100% ;
        height: auto;
        /* object-fit: cover; */
    }
}