@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: Roboto;
    color      : white;
    box-sizing : border-box;

}

/* -------------------- bat dau phan header  --------------------*/

.container {
    max-width: 960px;
    margin   : 0 auto;

}

nav {
    display        : flex;
    justify-content: space-between;
    justify-items  : center;
}

.logo img {
    max-width: 50px;
    height   : auto;
}

#main-menu {
    display   : flex;
    list-style: none;
    margin    : 0;
    padding   : 0;
}

#main-menu li {
    position: relative;
}

#main-menu li a {
    color          : white;
    display        : block;
    padding        : 18px 20px;
    text-decoration: none;
}

#main-menu ul.sub-menu {
    position        : absolute;
    background-color: rgb(38, 34, 34);
    padding         : 5px 0;
    list-style      : none;
    width           : 130px;
    display         : none;
}

#main-menu li:hover ul.sub-menu {
    display: block;
}

#main-menu ul.sub-menu a {
    padding      : 8px 15px;
    border-bottom: 1px solid rgb(63, 63, 63);
}

#main-menu ul.sub-menu a:hover {
    background-color: rgb(63, 63, 63);
}

#main-menu ul.sub-menu li:last-child a {
    border: none;
}

/* -------------------- ket thuc phan header --------------------*/


body {
    background-image   : url(../images/index-bg-dai.png);
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : cover;
    max-width          : 1050px;
    margin             : 0 auto;
}

.contact-in {
    display: flex;
}


form {
    margin       : auto 15%;
    margin-bottom: 15em;
}

form input {
    margin-left     : 3%;
    background-color: #ededed;
    color           : white;
    border-radius   : 8px;
    height          : 30px;
    color: black;

}

form textarea {
    margin-left     : 3%;
    background-color: #ededed;
    border-radius   : 8px;
    height          : 120px;
    color: black;
}

form button {
    margin-left            : 3%;
    background-color       : #404c66;
    color                  : white;
    border                 : none;
    padding                : 5px;
    background-color: rgb(60, 107, 184); 
    border-radius: 8px; 
    margin-left: 5%;

}

.iframe-container {
    width: 100%;

}







/* -------------------- ket thuc phan body --------------------*/



/* -------------------- bat phan footer  --------------------*/
.column {
    float: left;
    width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear  : both;
}

.benefits {
    padding-left: 4%;
}

.loiich {
    padding-left: 7%;

}


.copyright {
    justify-content: space-between;
    text-align     : center;
}

/* -------------------- ket thuc phan footer --------------------*/