@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: Roboto;
    color      : white;

}

/* -------------------- bat dau phan header --------------------*/
.container {
    max-width: 960px;
    margin   : 0 auto;

}

nav {
    display        : flex;
    justify-content: space-between;
    justify-items  : center;
}

.logo img {
    max-width: 220px;
    height   : auto;
}

#main-menu {
    display   : flex;
    list-style: none;
    margin    : 0;
    padding   : 0;
}

#main-menu li {
    position: relative;
}

#main-menu li a {
    color          : white;
    display        : block;
    padding        : 18px 20px;
    text-decoration: none;
}

#main-menu ul.sub-menu {
    position        : absolute;
    background-color: rgb(38, 34, 34);
    padding         : 5px 0;
    list-style      : none;
    width           : 130px;
    display         : none;
}

#main-menu li:hover ul.sub-menu {
    display: block;
}

#main-menu ul.sub-menu a {
    padding      : 8px 15px;
    border-bottom: 1px solid rgb(63, 63, 63);
}

#main-menu ul.sub-menu a:hover {
    background-color: rgb(63, 63, 63);
}

#main-menu ul.sub-menu li:last-child a {
    border: none;
}

/* -------------------- ket thuc phan header --------------------*/



/*-------------------- bat dau phan body --------------------*/

body {
    background-color: rgb(31, 33, 34);
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : cover;
    max-width          : 1050px;
    margin             : 0 auto;
}

.about{
    display: flex;
    box-sizing: border-box;
    background-color:rgba(87, 87, 80, 0.34);
    border-radius: 2%;
    padding: 30px;
    clear: both;
    font-size: larger;
}
.about img{
    width: 100%;
    height: auto;
}

.image {
    width: 100%;
    /* clip-path: polygon(27% 0.00%, 100% 0%, 100% 100%, 0% 100%); */
}


.product-1{
    display: flex;
    margin-top: 2%;
    
}

.product-1 img{
    width: 100%;
    height: auto;
}


.product-2{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}

.product-2 img{
    width: 100%;
    height: auto;
}

.product-3{
    display: flex;
    margin-bottom: 5%;
}

.product-3 img{
    width: 100%;
    height: auto;
}

.mota_benphai{
    margin-left: 5%;
}




/*-------------------- ket thuc phan body --------------------*/




/*-------------------- bat dau phan footer --------------------*/
.column {
    float: left;
    width: 33.33%;
}


.row:after {
    content: "";
    display: table;
    clear  : both;
}

.benefits{
    padding-left: 4%;
}
.loiich{
    padding-left: 7%;

}


.copyright{
    justify-content: space-between;
    text-align: center;
}
/*-------------------- ket thuc phan footer --------------------*/