@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: Roboto;
    color      : white;

}

/* bat dau phan header */
.container {
    max-width: 960px;
    margin   : 0 auto;

}

nav {
    display        : flex;
    justify-content: space-between;
    justify-items  : center;
}

.logo img {
    max-width: 50px;
    height   : auto;
}

#main-menu {
    display   : flex;
    list-style: none;
    margin    : 0;
    padding   : 0;
}

#main-menu li {
    position: relative;
}

#main-menu li a {
    color          : white;
    display        : block;
    padding        : 18px 20px;
    text-decoration: none;
}

#main-menu ul.sub-menu {
    position        : absolute;
    background-color: rgb(38, 34, 34);
    padding         : 5px 0;
    list-style      : none;
    width           : 130px;
    display         : none;
}

#main-menu li:hover ul.sub-menu {
    display: block;
}

#main-menu ul.sub-menu a {
    padding      : 8px 15px;
    border-bottom: 1px solid rgb(63, 63, 63);
}

#main-menu ul.sub-menu a:hover {
    background-color: rgb(63, 63, 63);
}

#main-menu ul.sub-menu li:last-child a {
    border: none;
}

/* ket thuc phan header */

body {
    background-image   : url(../images/index-bg-dai.png);
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : cover;
    max-width          : 1050px;
    margin             : 0 auto;
}
.bigbox {
    align-items: center;
    margin: 100px;
    font-size: 80%;
    height: 50px;
    width: 700px;
    background-color: rgba(12, 0, 0, 0.5);
    text-align: center;
    padding:80px;
}

.about {
    display: flex;
    font-size: small;
    align-items: center;
    top: 0;
    left: 0;
}
.about-text{
    align-items: left;
    display: flex;
    max-width: 800px;
}

.product1-text{
    margin: 100px;
}
.about img{
    height: auto;
    width: 200px;
    align-items: right;
    display: flex;
}
.product1 img{
    height: auto;
    width: 300px;
    display: flex;
    margin: 100px;
}
.product2 img{
    size: 60%;
    width: 300px;
    display: flex;
    margin: 100px;
}
.product3 img{
    height: auto;
    width: 300px;
    display: flex;
    margin: 100px;
}

.product2 .product1 .product3{
    clear: both;
}




/* bat phan footer */
.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear  : both;
}

.benefits{
    padding-left: 4%;
}
.loiich{
    padding-left: 7%;

}


.copyright{
    justify-content: space-between;
    text-align: center;
}
/* ket thuc phan footer */